<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- jedis 连接池配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${bosinone.redis.maxTotal}"/>
        <property name="maxIdle" value="${bosinone.redis.maxIdle}"/>
        <property name="minIdle" value="${bosinone.redis.minIdle}"/>
        <property name="testOnBorrow" value="${bosinone.redis.testOnBorrow}"/>
    </bean>

    <bean id="jedisFactory" class="com.guangbei.common.redis.JedisFactory" init-method="init" destroy-method="destory">
        <property name="jedisPoolConfig" ref="jedisPoolConfig"/>
        <property name="host" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
    </bean>

    <bean id="jedisTemple" class="com.guangbei.common.redis.JedisTemple">
        <property name="jedisFactory" ref="jedisFactory"/>
    </bean>

</beans>